* {
    margin: 0;
    padding: 0;
    border: 0;
}

.input-control {
    margin: 10px 0;
}

.input-control label {
    display: block;
    font-weight: bold;
}

.input-control input,
.input-control textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid #ccc;
    padding: 5px;
}

.input-control input:focus,
.input-control textarea:focus {
    background-color: #eee;
    outline: none;
}

.btn {
    font: inherit;
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s ease-in-out
}

.btn:hover,
.btn:active {
    background-color: rgb(51, 51, 51);
    border: 1px solid black;
}

.inverted {
    background-color: white;
    color: black;
    border: 1px solid transparent;
}

.inverted:hover,
.inverted:active {
    color: #ccc;
    background-color: white;
    border: 1px solid transparent;
}

.btn-cancel {
    background-color: red;
    color: white;
    border: 1px solid transparent;
}

.btn-cancel:hover,
.btn-cancel:active {
    background-color: salmon;
    border: 1px solid transparent;
    color: white;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}